<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= current_page.data.title || "0x Odyssey Studio • An epic journey on the metaverse" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NFT & Crypto Studio based in Belgium" />
    <meta name="keywords" content="" />
    <meta name="email" content="hello@0xodyssey.com" />
    <meta name="website" content="https://0xodyssey.com" />
    <meta name="Version" content="v1.0.0" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://0xodyssey.com">
    <meta property="og:title" content="0x Odyssey Studio • An epic journey on the metaverse">
    <meta property="og:description" content="NFT & Crypto Studio based in Belgium">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://0xodyssey.com">
    <meta property="twitter:title" content="0x Odyssey Studio • An epic journey on the metaverse">
    <meta property="twitter:description" content="NFT & Crypto Studio based in Belgium">
    <meta name=twitter:site content="@0xOdysseyStudio">
    <meta property="og:image" content="/images/og-thumbnail.png">
    <meta property="twitter:image" content="/images/twitter-thumbnail.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/7494430825.js" crossorigin="anonymous"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KLDG6JH');</script>
    <!-- End Google Tag Manager -->

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDG6JH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= yield() %>
  </body>
</html>
