---
title: 0x Odyssey Studio • An epic journey on the metaverse
---

<div class="aligner">
  <div class="aligner-item">
    <img src="/images/icon-black.png" class="icon" />
    <br>
    <img src="/images/logo-black.png" class="logo" />
    <h2>An epic journey on the metaverse</h2>

    <ul id="projects">
      <li>
        <a href="https://dickheads.club">
          <img src="/images/dhc-icon.png" />
          <h3>Dickheads Club NFT</h3>
        </a>
      </li>
      <li>
        <a href="https://nextdrop.art" title="Discover the best new NFT drops!">
          <img src="/images/nextdrop-icon.png" />
          <h3>NextDrop.art</h3>
        </a>
      </li>
    </ul>

    <ul class="socials">
      <li>
        <a href="https://twitter.com/0xOdysseyStudio" class="button" title="0x Odyssey Studio on Twitter">
          <i class="fa-brands fa-twitter"></i> Follow on Twitter →
        </a>
      </li>
      <li>
        <a href="https://discord.gg/Zaa4r8yZyd" class="button outlined" title="0x Odyssey Studio on Discord">
          <i class="fa-brands fa-discord"></i> Join Discord →
        </a>
      </li>
    </ul>
  </div>
</div>
